<!-- Right Sidebar -->
<div class="w3-sidebar w3-bar-block w3-light-grey w3-card-2" style="width:160px; z-index:3; right:0;width:250px;margin-top:43px;">
  <h2 class="w3-bar-item">Assets</h2>

  <!-- Parks & Open Space Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_parks')">Parks & Open Space <i class="fa fa-caret-down"></i></div>
  <div id="acc_parks" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>
  
  <!-- Public Facilities Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_pub_facilites')">Public Facilities <i class="fa fa-caret-down"></i></div>
  <div id="acc_pub_facilites" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>
  
  <!-- Schools Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_schools')">Schools <i class="fa fa-caret-down"></i></div>
  <div id="acc_schools" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>
  
  <!-- Grocery Stores Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_gstores')">Grocery Stores <i class="fa fa-caret-down"></i></div>
  <div id="acc_gstores" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>
  
  <!-- Historic Structures Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_hist')">Historic Structures <i class="fa fa-caret-down"></i></div>
  <div id="acc_hist" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>
  
  <!-- New Development Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_new_dev')">New Development <i class="fa fa-caret-down"></i></div>
  <div id="acc_new_dev" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>
  
  <!-- Planning Docs Accordion -->
  <div class="w3-bar-item w3-button" onclick="openAccordion('acc_plan_docs')">Planning Documents <i class="fa fa-caret-down"></i></div>
  <div id="acc_plan_docs" class="w3-hide w3-white w3-card-4">
    <a href="#" class="w3-bar-item w3-button">Link</a>
    <a href="#" class="w3-bar-item w3-button">Link</a>
  </div>

  
  <!-- Misc Links 
  <a href="https://missoula.buildingeye.com/building" class="w3-bar-item w3-button">Building Eye</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>-->
</div>
